@import "responsive.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');
$primary: rgb(246, 246, 246);
$secondary: rgb(153, 226, 208);
$heart: linear-gradient(rgb(232, 113, 218), rgb(156, 89, 220));
$padding: 15px;
$shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
@keyframes slide {
    0% {
        transform: translateX(-150px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes itemAppear {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }

body{
    font-family: "Roboto", "Sans serif";
    margin: 0px;
    padding: 0px;
    a:link { 
        text-decoration:none; 
    } 
}
/*------------------------------------*\
  #HEADER
\*------------------------------------*/
header{
    display: flex;
    .header__logo__content{
        box-shadow: $shadow;
        margin: 0px;
        text-align: center;
        width: 100%;
        .header__logo{
            padding: 0.3em;
            width: 45%;
            max-width: 450px;
        }
    
    }
    a{

    }
    .fa-arrow-left{
        display: none;
        @media #{$medium-down} {
            display: inline;
            font-size: 2.5em;
            color: black;
        }   
    }
    

    
}
figure{
    width: 100%;
    margin:0px ;
    .figure__img{
        width: 100%;
        max-height: 32rem;
        object-fit: cover;            
    }
}

/*------------------------------------*\
  #MENU
\*------------------------------------*/

.section__menu{
    position: relative;
    bottom: 80px;
    width: 80%;
    margin: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color:$primary;
    margin-bottom: -80px;
    padding-bottom: 55px;
    padding-top: 35px;
    @media #{$medium-down} {
        width: 100%;
    }
    h3{
        border-bottom: 2px solid $secondary;
        width: 5%;
        font-weight: normal;
        margin-left: 20px;
        margin-top: 50px;
        margin-bottom:30px;
    }

}

.menu__header{
    display: flex;
    justify-content: space-between;
    padding-left: $padding;
    padding-right: $padding;
    .fa-heart {     
        align-self: center;
        font-size: 2.5em;       
        &::before {
            content: "\f004";
            transition: color 400ms ease-out;
        }
        &:hover::before{
            font-weight: bold;
            color: rgb(156, 89, 220);
            cursor: pointer;
        }
    }
}

.menu__card__container{
    display: flex;
    height: 500px;

    @media #{$medium-down} {
        flex-direction: column;
        height: 100%;
    }
    .menu__card__grope {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        margin: auto;
        @media #{$medium-down}  {  
            margin: 0px;        
            display: flex;
            flex-direction: column;
            margin-top: 0px;
        }
    }
}
.menu__title {
    font-size: 2.1em;
    font-family:Shrikhand,"cursive";
}


.menu__card{
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    box-shadow: $shadow;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    text-overflow: ellipsis;
    animation: itemAppear 1s;
    @media #{$medium-down} {
        width: 87%;
    }
    .menu__card__price {
        position: relative;
        top: 20px;
        font-size: 0.9em;
        font-weight: bold;
    }
}

.menu__card__titledescritption{
    font-weight: bold;
    margin-bottom: -15px;
    font-size: 0.9em;
    padding-bottom: 10px;        
}
.menu__card__subdescritption{
    font-size: 0.7em;
}
.btn{
    font-size: 1.3em;
    padding: 1px;
    color: white;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: $shadow;
    background: $heart;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.1);
    } 
    
}
/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.footer{
    background: rgb(53, 53, 53);
    color:white;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: $padding +20px;
    li{
        list-style: none;
    }
    .footer__list__container{
        padding-left: 0px;
        .footer__list__txt{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            p{
             margin-top: 0px;
             margin-bottom: 0px;
            }
            .fas{
                font-size: 10px;
                padding-right: 5px;
            }
         }
    }
 
}


