body{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", "Sans serif";
    a:link { 
        text-decoration:none; 
        } 
}

@mixin btn {
    padding: 10px;
    color: white;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    width: 60%;
    box-shadow: $shadow;
    background: $heart;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.1);
    } 
}
@mixin heart {     
    font-size: 2em;       
    &::before {
        content: "\f004";
        transition: color 400ms ease-out;
    }
    &:hover::before{
        font-weight: bold;
        color: rgb(156, 89, 220);
        cursor: pointer;
    }
}