body{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", "Sans serif";
    a:link { 
        text-decoration:none; 
        } 
}

@mixin btn {
    font-size: 1.3em;
    padding: 1px;
    color: white;
    border-radius: 50px;
    text-align: center;
    margin: auto;
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: $shadow;
    background: $heart;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.1);
    } 
}